.link-compact-mark {
  font-size: 90%;
}

.cm-vimCursorLayer .link-compact-hidden-cursor-text {
  color: transparent !important;
}

.link-compact-mark > svg {
  width: 1em;
  height: 1em;
  margin-left: 0.15em;
  vertical-align: -0.125em;
  opacity: 0.65;
}
